@charset "UTF-8";

@font-face {
    font-family: "proxima nova";
    src: url("../fonts/Proxima-Nova-Regular.otf") format("opentype");
}

@font-face {
    font-family: "proxima nova semibold";
    src: url("../fonts/Proxima-Nova-Semibold.otf") format("opentype");
}

@font-face {
    font-family: "proxima nova bold";
    src: url("../fonts/Proxima-Nova-Bold.otf") format("opentype");
}

@font-face {
    font-family: "proxima nova extrabold";
    src: url("../fonts/Proxima-Nova-Extrabold.otf") format("opentype");
}

*{
    padding: 0;
    margin: 0;
    font-family: "proxima nova";
}

html, body{
    background-color: #FBFAF9;
}

body{
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width: 8px;
    
}

::-webkit-scrollbar-track{
    background: #FBFAF9;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb{
    background: #FF572B;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
    background: #DC200D;
}




#cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px 0 20px;
    height: 70px;
}

header > img{
    width: 181px;
    height: 40px;
}
header > i{
    padding: 5px;
    background-color: white;
    border: 1px solid #FF572B;
    color: #FF572B;
    border-radius: 3px;
    cursor: pointer;
}

header > i:hover{
    height: 25px;
    padding: 5px;
    border: none;
    color: white;
    background-color: #FF572B;
    transition: ease .5s;
}
menu{
    display: none;
    position: absolute;
    right: 15px;
    width: 150px;
}

menu > ul{
    list-style-type: none;
}

menu > ul > li >a{
    display: block;
    padding: 8px;
    text-align: center;
    color: #FF572B;
    background-color: #FBFAF9;
    text-decoration: none;
    margin-top: -1px;
}

menu > ul > li >a#menup{
    border-radius: 10px 10px 0 0;
}
menu > ul > li >a#menuu{
    border-radius: 0 0 10px 10px;
}

menu > ul > li >a:hover{
    color: white;
    background-color: #DC200D;
    transition: ease .5s;
}

#divcabecalho{
    height: 300px;
    background: transparent url(../imagens/img2.png) no-repeat bottom left;
    background-size: 140vw;
}

#article1{
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: space-between;
    row-gap: 15px;
    width: 290px;
    margin: auto;
}

#article1 > h1{
    font-family: "proxima nova extrabold";
    font-size: 25px;
    color: #151926;
}

#article1 > h1 > span{
    font-family: "proxima nova extrabold";
    color: #FF572B;
}

#article1 > p{
    text-align: left;
}
#article1 > p > strong > span{
    color: #FF572B;
}

#article1 > button{
    margin: auto;
    margin-top: 20px;

    width: 179px;
    height: 48px;
    background-color: #FF572B;
    border: none;
    border-radius: 10px;
}

#article1 > button > a{
    color: #FBFAF9;
    font-family: "proxima nova bold";
    text-decoration: none;
}

#section2{
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 15px;
    margin-top: 60px;
    background-color: #FF572B;
}

#section2 > img{
    display: block;
    width: 100px;
}

#article2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 15px;
    width: 290px;
    margin: auto;
}

#article2 > h2{
    text-align: center;
    font-family: "proxima nova extrabold";
    font-size: 25px;
    color: #FBFAF9;
}

#article2 > p{
    font-family: "proxima nova";
    font-size: 0.9em;
    text-align: left;
    color: #FBFAF9;
}

#section3{
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 25px;
}

#section3 > h2{
    font-size: 25px;
    font-family: "proxima nova extrabold";
}

#section3 h3{
    font-size: 0.9em;
}
#section3 p{
    font-size: .7em;
}

#section3 img{
    width: 100px;
}
#article3-2 > div > p{
    text-align: right;
}
#article3-2 > div > h3{
    text-align: right;
}
#section3 div > p > span{
    color: #FF572B;
}
#section3 div > h3 > span.num{
    color: #FF572B;
}

#article3-1{
    width: 290px;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

#article3-2{
    width: 290px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

#article3-3{
    width: 290px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

#section4{
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
    background: black url(../imagens/5@2x.png);
    height: 342px;
}

#article4{
    width: 290px;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: space-between;
    row-gap: 20px;
}
#article4 > h2{
    max-width: 273px;
    font-size: 25px;
    font-family: "proxima nova extrabold";
    color: #FBFAF9;
}

#article4 > h2 > span{
    font-family: "proxima nova extrabold";
    color: #FF572B;
}

#article4 > p{
    font-family: "proxima nova";
    color: #FBFAF9;
}

#article4 > p > strong > span{
    color: #FF572B;
}

div#quadrado{
    position: absolute;
    left: -245px;
    height: 342px;
    width: 230px;
    background-color: #FF572B;
    border-radius: 0 5px 5px 0;
}

#section5{
    display: block;
    width: 290px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: auto;
}

#section5 > #imagens{
    width: 290px;
    margin: auto;
}

#section5 > div{
    text-align: center;
}

#section5 > div > #imggrupo{
    width: 280px;
    position: relative;
}

#section5 > div > #imgcertificado{
    margin-top: -20px;
    width: 200px;
    border: 3px solid #FBFAF9;
    position: relative;
}

#article5{
    padding-top: 50px;
    width: 290px;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: space-between;
    row-gap: 20px;
}

#article5 > p > strong{
    color: #FF572B;
}

#quadrado1{
    position: absolute;
    margin-top: -20px;
    margin-left: 242px;
    height: 60px;
    width: 60px;
    background-color: #BDCDDB;
    border-radius:5px;
}

#quadrado2{
    position: absolute;
    margin-top: 148px;
    margin-left: -24px;
    height: 60px;
    width: 60px;
    background-color: #FF572B;
    border-radius:5px;
}

#section6{
    width: 295px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    gap: 25px;
}

#section6 > h2{
    font-family: "proxima nova extrabold";
    margin-bottom: 20px;
}
#section6 > h2 > span{
    font-family: "proxima nova extrabold";
    color: #FF572B;
}

p.nhexagono{
    max-width: 200px;
    color: #79869F;
}

p.hexagono{
    position: relative;
    width: 50px;
    height: 30px;
    vertical-align: middle;
    line-height: 2;
    text-align: center;
    background-color: #FF572B;
    color: #FBFAF9;
}

p.hexagono:before{
    content: "";
    position: absolute;
    top: -15px; 
    left: 0;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 15px solid #FF572B;
}

p.hexagono:after{
    content: "";
    position: absolute;
    bottom: -15px; 
    left: 0;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 15px solid #FF572B;
}

#article6-1{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 50px;
}

div.valores{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.articletime{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.articletime > img{
    width: 200px;
    margin-bottom: 15px;
}

.articletime > p{
    color: #79869F;
}

div#ondas{
    margin-top: 60px;
    margin-bottom: -5px;
}

div#ondas > img{
    width: 100vw;
}

#section7{
    background-color: #151926;
    color: #FBFAF9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: -2px;
}

#section7 > article{
    width: 290px;
}

#section7 img{
    width: 200px;
}

#section7 > h2{
    margin-top: 50px;
}

#section7 > h2 > span{
    color: #FF572B;
}

#section7 > #article7{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

#section7 > #article7 > p{
    text-align: center;
}

#section7 > #article7 > p > strong{
    color: #FF572B;
}

#articleform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}

#articleform > p > strong > span{
    color: #FF572B;
}

#articleform > form{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    gap: 5px;
}

#articleform > form > label{
    margin-top: 5px;
}
#articleform > form > input.campo{
    width: 250px;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    border: none;
}
#articleform > form > textarea{
    width: 240px;
    border-radius: 5px;
    padding: 10px;
    border: none;
}

#articleform > form > input#botaosub{
    width: 250px;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    margin: auto;
    margin-top: 15px;
    color: #FBFAF9;
    background-color: #FF572B;
    border: none;
    font-family: "proxima nova bold";
}

#articleform > img{
    margin-top: 30px;
    margin-bottom: 30px;
}

footer{
    width: 100vw;
    background-color: #151926;
    color: #FBFAF9;
}
footer > p{
    font-size: 12px;
    width: 300px;
    margin: auto;
    text-align: center;
    padding: 20px;
}

