@charset "UTF-8";

@font-face {
    font-family: "proxima nova";
    src: url("../fonts/Proxima-Nova-Regular.otf") format("opentype");
}

@font-face {
    font-family: "proxima nova semibold";
    src: url("../fonts/Proxima-Nova-Semibold.otf") format("opentype");
}

@font-face {
    font-family: "proxima nova bold";
    src: url("../fonts/Proxima-Nova-Bold.otf") format("opentype");
}

@font-face {
    font-family: "proxima nova extrabold";
    src: url("../fonts/Proxima-Nova-Extrabold.otf") format("opentype");
}

*{
    padding: 0;
    margin: 0;
    font-family: "proxima nova";
}

html, body{
    background-color: #FBFAF9;
    width: 100vw;
    height: 100vh;
}

#cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px 0 20px;
    height: 70px;
}

header > img{
    width: 181px;
    height: 40px;
}
header > i{
    padding: 5px;
    background-color: white;
    border: 1px solid #FF572B;
    color: #FF572B;
    border-radius: 3px;
    cursor: pointer;
}

header > i:hover{
    height: 25px;
    padding: 5px;
    border: none;
    color: white;
    background-color: #FF572B;
    transition: ease .5s;
}
menu{
    display: none;
}

menu > ul{
    list-style-type: none;
}

menu > ul > li >a{
    display: block;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #FBFAF9;
    color: #FBFAF9;
    background-color: #FF572B;
    text-decoration: none;
}

menu > ul > li >a:hover{
    color: white;
    background-color: #DC200D;
    transition: ease .5s;
}

#divcabecalho{
    height: 300px;
    background: transparent url(../imagens/img2.png) no-repeat bottom center;
    background-size: 130vw;
}

#article1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 15px;
    width: 70vw;
    margin: auto;
}

#article1 > h1{
    width: 70vw;
    min-width: 295px;
    max-width: 400px;
    font-family: "proxima nova extrabold";
    font-size: 25px;
    color: #151926;
}

#article1 > h1 > span{
    font-family: "proxima nova extrabold";
    color: #FF572B;
}

#article1 > p{
    width: 70vw;
    min-width: 295px;
    max-width: 400px;
    text-align: left;
}
#article1 > p > strong > span{
    color: #FF572B;
}

#article1 > button{
    margin-top: 20px;
    font-family: "proxima nova bold";
    width: 179px;
    height: 48px;
    color: #FBFAF9;
    background-color: #FF572B;
    border: none;
    border-radius: 10px;
}

#section2{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 15px;
    margin-top: 40px;
    background-color: #FF572B;
}

#section2 > img{
    display: block;
    width: 100px;
}

#article2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 15px;
    width: 70vw;
    min-width: 295px;
    max-width: 400px;
    margin: auto;
}

#article2 > h2{
    width: 70vw;
    min-width: 295px;
    max-width: 400px;
    text-align: center;
    font-family: "proxima nova extrabold";
    font-size: 25px;
    color: #FBFAF9;
}

#article2 > p{
    font-family: "proxima nova";
    text-align: left;
    color: #FBFAF9;
}

#section3{
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 25px;
}

#section3 > h2{
    font-size: 25px;
    font-family: "proxima nova extrabold";
}

#section3 h3{
    font-size: 0.9em;
}
#section3 p{
    font-size: .7em;
}

#section3 img{
    width: 100px;
}
#article3-2 > div > p{
    text-align: right;
}
#article3-2 > div > h3{
    text-align: right;
}
#section3 div > p > span{
    color: #FF572B;
}
#section3 div > h3 > span.num{
    color: #FF572B;
}

#article3-1{
    width: 70vw;
    min-width: 295px;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

#article3-2{
    display: flex;
    width: 70vw;
    min-width: 295px;
    max-width: 400px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

#article3-3{
    display: flex;
    width: 70vw;
    min-width: 295px;
    max-width: 400px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}