@charset "UTF-8";

@font-face {
    font-family: "proxima nova";
    src: url("../fonts/Proxima-Nova-Regular.otf") format("opentype");
}

@font-face {
    font-family: "proxima nova semibold";
    src: url("../fonts/Proxima-Nova-Semibold.otf") format("opentype");
}

@font-face {
    font-family: "proxima nova bold";
    src: url("../fonts/Proxima-Nova-Bold.otf") format("opentype");
}

@font-face {
    font-family: "proxima nova extrabold";
    src: url("../fonts/Proxima-Nova-Extrabold.otf") format("opentype");
}

*{
    padding: 0;
    margin: 0;
    font-family: "proxima nova";
}

html, body{
    background-color: #FBFAF9;
    width: 100vw;
    height: 100vh;
}

#cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px 0 20px;
    height: 70px;
}

header > img{
    width: 181px;
    height: 40px;
}
header > i{
    padding: 5px;
    background-color: white;
    border: 1px solid #FF572B;
    color: #FF572B;
    border-radius: 3px;
    cursor: pointer;
}

header > i:hover{
    height: 25px;
    padding: 5px;
    border: none;
    color: white;
    background-color: #FF572B;
    transition: ease .5s;
}
menu{
    display: none;
    position: absolute;
    right: 15px;
    width: 150px;
}

menu > ul{
    list-style-type: none;
}

menu > ul > li >a{
    display: block;
    padding: 8px;
    text-align: center;
    color: #FF572B;
    background-color: #FBFAF9;
    text-decoration: none;
    margin-top: -1px;
}

menu > ul > li >a#menup{
    border-radius: 10px 10px 0 0;
}
menu > ul > li >a#menuu{
    border-radius: 0 0 10px 10px;
}

menu > ul > li >a:hover{
    color: white;
    background-color: #DC200D;
    transition: ease .5s;
}

#divcabecalho{
    height: 300px;
    background: transparent url(../imagens/img2.png) no-repeat bottom center;
    background-size: 130vw;
}

#article1{
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: space-between;
    row-gap: 15px;
    width: 290px;
    margin: auto;
}

#article1 > h1{
    font-family: "proxima nova extrabold";
    font-size: 25px;
    color: #151926;
}

#article1 > h1 > span{
    font-family: "proxima nova extrabold";
    color: #FF572B;
}

#article1 > p{
    text-align: left;
}
#article1 > p > strong > span{
    color: #FF572B;
}

#article1 > button{
    margin: auto;
    margin-top: 20px;
    font-family: "proxima nova bold";
    width: 179px;
    height: 48px;
    color: #FBFAF9;
    background-color: #FF572B;
    border: none;
    border-radius: 10px;
}

#section2{
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 15px;
    margin-top: 60px;
    background-color: #FF572B;
}

#section2 > img{
    display: block;
    width: 100px;
}

#article2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 15px;
    width: 290px;
    margin: auto;
}

#article2 > h2{
    text-align: center;
    font-family: "proxima nova extrabold";
    font-size: 25px;
    color: #FBFAF9;
}

#article2 > p{
    font-family: "proxima nova";
    font-size: 0.9em;
    text-align: left;
    color: #FBFAF9;
}

#section3{
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 25px;
}

#section3 > h2{
    font-size: 25px;
    font-family: "proxima nova extrabold";
}

#section3 h3{
    font-size: 0.9em;
}
#section3 p{
    font-size: .7em;
}

#section3 img{
    width: 100px;
}
#article3-2 > div > p{
    text-align: right;
}
#article3-2 > div > h3{
    text-align: right;
}
#section3 div > p > span{
    color: #FF572B;
}
#section3 div > h3 > span.num{
    color: #FF572B;
}

#article3-1{
    width: 290px;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

#article3-2{
    width: 290px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

#article3-3{
    width: 290px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

#section4{
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
    background: black url(../imagens/5@2x.png);
    height: 342px;
}

#article4{
    width: 290px;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: space-between;
    row-gap: 20px;
}
#article4 > h2{
    max-width: 273px;
    font-size: 25px;
    font-family: "proxima nova extrabold";
    color: #FBFAF9;
}

#article4 > h2 > span{
    font-family: "proxima nova extrabold";
    color: #FF572B;
}

#article4 > p{
    font-family: "proxima nova";
    color: #FBFAF9;
}

#article4 > p > strong > span{
    color: #FF572B;
}

div#quadrado{
    position: absolute;
    left: -245px;
    height: 342px;
    width: 230px;
    background-color: #FF572B;
    border-radius: 0 5px 5px 0;
}

#section5{
    display: block;
    width: 290px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: auto;
}

#section5 > #imagens{
    width: 290px;
    margin: auto;
}

#section5 > div{
    text-align: center;
}

#section5 > div > #imggrupo{
    width: 280px;
    position: relative;
}

#section5 > div > #imgcertificado{
    margin-top: -20px;
    width: 200px;
    border: 3px solid #FBFAF9;
    position: relative;
}

#article5{
    padding-top: 50px;
    width: 290px;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: space-between;
    row-gap: 20px;
}

#article5 > p > strong{
    color: #FF572B;
}

#quadrado1{
    position: absolute;
    margin-top: -20px;
    margin-left: 242px;
    height: 60px;
    width: 60px;
    background-color: #BDCDDB;
    border-radius:5px;
}

#quadrado2{
    position: absolute;
    margin-top: 148px;
    margin-left: -24px;
    height: 60px;
    width: 60px;
    background-color: #FF572B;
    border-radius:5px;
}