@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){

    #cabecalho{
        height: 120px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin: 0 20px 0 20px;
    }

    #burger{
        display: none;
    }

    #navbar{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    #navbar > a{
        text-decoration: none;
        color: #151926;
        font-family: "proxima nova bold";
    }

    header > img{
        width: 181px;
        height: 40px;
    }

    #divcabecalho{
        height: 430px;
        background: transparent url(../imagens/img2.png) no-repeat bottom left;
        background-size: 100vw;
    }

    #article1{
        row-gap: 15px;
        width: 600px;
        margin: auto;
    }

    #article1 > h1{
        width: 500px;
    }

    #section2{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
        background-color: #FF572B;
    }
    
    #section2 > img{
        display: block;
    }
    
    #article2{
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        row-gap: 15px;
        width: 460px;
        line-height: 17px;
    }
    
    #article2 > h2{
        text-align: left;
    }

    #section3{
        row-gap: 40px;
    }
    #article3-1{
        width: 600px;
        gap: 20px;
        line-height: 15px;
    }
    
    #article3-2{
        width: 600px;
        gap: 20px;
        line-height: 15px;
    }
    
    #article3-3{
        width: 600px;
        gap: 20px;
        line-height: 15px;
    }

    #article3-3 > div > h3 > span#resto{
        font-size: 15px;
    }

    #section3 h3{
        font-size: 1.2em;
    }

    #section3 > article > div{
        display: flex;
        flex-direction: column;
        gap: 8px;

    }

    #section3 p{
        font-size: .8em;
    }
    
    #section4{
        background: transparent;
        height: 342px;
        overflow: hidden;
        padding-bottom: 0px;
    }
    
    #article4{
        width: 600px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        row-gap: 20px;
        line-height: 18px;
    }
    
    #article4 > h2{
        max-width: 273px;
        font-size: 25px;
        font-family: "proxima nova extrabold";
        color: #0A043C;
    }
    
    #article4 > h2 > span{
        font-family: "proxima nova extrabold";
        color: #FF572B;
    }
    
    #article4 > p{
        font-family: "proxima nova";
        color: #79869F;
        width: 350px;
    }
    
    #article4 > p > strong > span{
        color: #FF572B;
    }
    
    div#quadrado{
        position: absolute;
        height: 100%;
        width: 500px;
        left: 435px;
        background-color: #FF572B;
        border-radius: 0;
    }
    div#quadrados{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        position: absolute;
        height: 220px;
        width: 220px;
        left: 385px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 0;
    }

    div#quadrados > img{
        width: 100px;
    }

    #section5{
        width: 600px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    #section5 > #imagens{
        width: 250px;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    #section5 > div > #imggrupo{
        width: 250px;
        position: relative;
    }
    
    #section5 > div > #imgcertificado{
        margin-top: 5px;
        width: 200px;
        border: none;
        position: relative;
    }

    #article5-1{
        padding-top: 0px;
        padding-left: 20px;
        width: 290px;
        position: relative;
        margin: auto;
        color: #79869F;
        line-height: 18px;
    }
    
    #article5-2{
        padding-top: 20px;
        width: 600px;
        position: relative;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: right;
        justify-content: space-between;
        row-gap: 20px;
        color: #79869F;
        line-height: 18px;
    }

    #quadrado1{
        position: absolute;
        margin-top: -30px;
        margin-left: 185px;
        height: 85px;
        width: 85px;
        background-color: #BDCDDB;
        border-radius:5px;
    }
    
    #quadrado2{
        position: absolute;
        margin-top: 115px;
        margin-left: -40px;
        height: 85px;
        width: 85px;
        background-color: #FF572B;
        border-radius:5px;
    }





    #section6{
        width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        justify-content: space-between;
        gap: 25px;
    }
    
    #section6 > h2{
        font-family: "proxima nova extrabold";
        margin-bottom: 30px;
    }
    #section6 > h2 > span{
        font-family: "proxima nova extrabold";
        color: #FF572B;
    }
    
    p.nhexagono{
        width: 190px;
        text-align: center;
        color: #79869F;
    }
    
    #article6-1{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 0px;
    }
    
    div.valores{
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    
    .articletime{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
    }
    .articletime > img{
        width: 200px;
        margin-bottom: 15px;
    }
    
    .articletime > p{
        color: #79869F;
    }

    #divtime{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 100px
    }




    #section7{
        background-color: #151926;
        color: #FBFAF9;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        margin-bottom: -2px;
    }
    
    #section7 > article{
        width: 600px;
    }
    
    #section7 img{
        width: 200px;
    }
    
    #section7 > h2{
        margin-top: 50px;
    }
    
    #section7 > h2 > span{
        color: #FF572B;
    }
    
    #section7 > #article7{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
    }
    
    #section7 > article > p{
        text-align: center;
    }
    
    #section7 > #article7 > p > strong{
        color: #FF572B;
    }
    
    #articleform{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
    
    #articleform > p > strong > span{
        color: #FF572B;
    }
    
    #articleform > form{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }
    
    #articleform > form > div{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }
    
    #articleform > form > div > input#idnome{
        width: 535px;
        height: 40px;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border: none;
    }
    
    #articleform > form > div > input#idemail{
        width: 250px;
        height: 40px;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border: none;
    }
    
    #articleform > form > div > input#idtelefone{
        width: 250px;
        height: 40px;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border: none;
    }
    
    #articleform > form > div > input#idempresa{
        width: 250px;
        height: 40px;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border: none;
    }
    
    #articleform > form > div > input#idcargo{
        width: 250px;
        height: 40px;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border: none;
    }

    #articleform > form > div > textarea{
        width: 535px;
        border-radius: 5px;
        padding: 10px;
        border: none;
    }

    div#campo1 input{
        width: 515px;
    }
    
    #articleform > form > input#botaosub{
        width: 300px;
        height: 40px;
        border-radius: 5px;
        padding-left: 10px;
        margin: auto;
        margin-top: 15px;
        color: #FBFAF9;
        background-color: #FF572B;
        border: none;
        font-family: "proxima nova bold";
    }
    
    #articleform > img{
        margin-top: 30px;
        margin-bottom: 30px;
    }
}